@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@400;700&family=Fira+Code:wght@500&display=swap');

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: 0px;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  font-size: 16px;
  overflow-x: hidden;
  background-color: white !important;
}

main {
  position: relative;
  z-index: 1;

  /* responsive */
  max-width: 1440px;
  margin: auto;
}

a, button {
  cursor: pointer;
  text-decoration: none;
}

