@import '/app/styles/theme.scss';

.Container {
  height: 100vh;
  width: 100%;
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @media (max-width: $mobile) {
    grid-template-columns: 20% 80%;
  }

  @media (max-width: $mobile-small) {
    grid-template-columns: auto;
    padding: 1rem;
    height: 100dvh;
  }

  h2 {
    color: $neutral-color-low-pure;
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 2rem;

    @media (max-width: $mobile) {
      color: $neutral-color-high-pure;
      font-size: 4rem;
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-height: 400px;
    overflow-y: auto;
    // box-shadow: 0px 10px 24px 0px rgba(255,255,255,0.75) inset;

    padding: 10px;
    padding-right: 1rem;
    border-radius: 10px;
    scrollbar-width: auto;
    scrollbar-color: #ffffff #000000;

    @media (max-width: $mobile-small) {
      width: 100%;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }
  
    &::-webkit-scrollbar-track {
      background: #000000;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #ffffff;
      border-radius: 2px;
      border: 5px none #ff0000;
    }

  }
}

.skill {
  color: $neutral-color-low-pure;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
  cursor: pointer;

  &:hover {
    h5 {
      background-color: $neutral-color-low-pure;
      color: $neutral-color-high-pure;
      transform: rotateY(360deg);
    }
  }

  h5 {
    border: 1px solid $neutral-color-low-pure;
    width: 20%;
    max-width: 115px;
    min-width: 115px;
    text-align: center;
    padding: .6rem 0;
    border-radius: 5px;
    transform: rotateY(0deg);

    @include transition-slow();

    @media (max-width: $mobile) {
      background-color: $neutral-color-high-pure;
    }

    @media (max-width: $mobile-small) {
      min-width: 90px;
    }

    &.clicked {
      background-color: $neutral-color-low-pure;
      color: $neutral-color-high-pure;
      transform: rotateY(360deg);
    }
  }

  .skillLevelContent {
    width: 80%;
    max-height: 55px;
    
    .skillLevel {
      display: block;
      background-color: $primary-color-low-dark;
      color: $neutral-color-high-pure;
      border-radius: .5rem;
      padding: .5rem;
      height: 55px;
      @include transition-fast();
    }

    > p {
      overflow: hidden;
      opacity: 0;
      max-height: 0%;
      margin-top: 0;
      background: rgba(0,0,0,0.3);
      color: $neutral-color-high-pure;

      @include transition-slow();
    }  
    
    &.clicked {
      max-height: 800px;
      
      > p {
        max-height: 100%;
        padding: 2px;
        border-radius: 5px;
        opacity: 1;
        margin-top: 5px;
      }
    }
  }
}
