@import '/app/styles/theme.scss';

.Container {
  height: 100vh;
  width: 100%;
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: $mobile) {
    justify-content: flex-end;
  }

  h2 {
    @include font-family-archivo-black();
    color: $neutral-color-high-light;
    font-size: 4rem;
  }

  .yearsButtons {
    height: 4rem;
    scroll-snap-type: x mandatory;
    scroll-padding: 10px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    button {
      @include font-family-archivo();
      @include transition-fast();
      background-color: transparent;
      border: 0;
      color: $neutral-color-high-light;
      font-size: 1.2rem;
      font-weight: 600;
      opacity: .6;

      &.active {
        font-size: 1.5rem;
        opacity: 1;
      }
    }
  }

  .stacks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 20px;

    img {
      margin: auto;
    }
  }
}
