@import '/app/styles/theme.scss';

.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;

  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;

  .socialLinks {
    @include flex-row();
    align-items: flex-start;

    a {
      display: block;

      img {
        width: 30px;
        height: 30px;
        margin: 0 5px;
      }
      
      &.beta {
        @include font-family-fira-code();
        color: $neutral-color-high-pure;
        background-color: $primary-color-low-dark;
        padding: .3rem;
        border-radius: 10px;
      }
    }

  }

  nav {
    @include font-family-fira-code();
    @include flex-row();
    gap: 1rem;

    a {
      display: block;
      color: $neutral-color-high-pure;
      @include transition-fast();

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  button {
    @include font-family-fira-code();
    font-weight: 500;
    padding: .5rem 1rem;

    color: $neutral-color-high-pure;
    background-color: transparent;
    border: 1px solid $neutral-color-high-pure;
    border-radius: 20px;

    @include transition-slow();

    &:hover {
      background-color: $neutral-color-high-pure;
      color: $neutral-color-low-pure;
    }
  }
}

@media (max-width: $mobile-small) {
  .Container {
    padding: 1rem .5rem;
    flex-wrap: wrap;
    gap: .2rem;

    .socialLinks {
      order: 2;
      margin-bottom: 5px;
    }

    nav { 
      order: 3;
      width: 100%;
      justify-content: center;
      margin-top: 1rem;
    }

    > a {
      order: 1;
    }
  }
}
