@import '/app/styles/theme.scss';

.CanvaRoot {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  // background-color: rgba(0,0,0,0.3);
  background-color: transparent;
  opacity: 1;

  transition: background-color 1s;

  &.SkillSection {
    background-color: #fff;
  }

  &.CareerSection {
    background-image: url('/backgrounds/background.png');
    background-color: $neutral-color-low-dark;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
  }
}