.img {
  width: 100px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  animation: infinite spinner 11s linear;
  z-index: 1;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}