.img {
  width: 100px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  animation: infinite spinner 11s linear;

}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}